.logo-img {
  max-width: 200px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}
.inner-wrap {
  margin-top: 25px;
}
.inner-wrap-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 25px;
  gap: 15px;
}
.inner-wrap-btn button {
  flex: 0 0 20%;
  max-width: calc(20% - 15px);
  text-align: center;
  padding: 10px;
  font-size: 18px;
  width: 100%;
}
button{
  cursor: pointer;
}
.step {
  text-align: center;
  margin: 30px 0;
}
.progess-bar {
  background: #ddd;
  position: relative;
  height: 2px;
  width: 100%;
  margin: 25px 0 50px;
}
.progress-indicator {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: 0 6px 25px 0px rgb(154 159 165);
  padding: 10px 15px;
  border-radius: 25px;
  color: #3d99fe;
}
.progess-active-line {
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  background: #3d9afe;
  width: 25%;
}
span.error-msg {
  color: red;
  margin: 5px 0 0;
  display: block;
}
input {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
}
/* activa*/
body{ 
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.step-content-basic {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.input {
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 4px;
}
.input:hover, .input:focus {
  color: #0070e9;
  border-color: #0070e9;
}
.action-btn {
  border: 1px solid;
  color: #fff;
  background: #0070e9;
  width: 100%;
  padding: 20px;
  font-size: 1.1em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .5px;
  margin: 30px 0;
  border-radius: 4px;
}
.action-btn:hover, .action-btn:focus {
  background: #000;
  color: #fff;
}
.inner-wrap-btn .show-more {
  display: flex;
  border: 0;
  justify-content: center;
  align-items: center;
  background: #fff;
  max-width: 100%;
  flex: 0 0 100%;
  margin: 20px 0;
}
.show-more svg {
  width: 18px;
  margin-right: 5px;
}
/*back button*/
.back-to-prev {
  flex: 0 0 100%;
  max-width: 100%;
  justify-items: center;
  margin: 50px 0 25px;
}
button.back {
  display: flex;        ;
  justify-content: center;
  align-items: center;
  background: #eee;
  border: 0;
  border-radius: 5px;
  width: 200px;
  color: #0070e9;
  padding: 13px 10px;
  font-size: 1.1em;
}
button.back svg {
  width: 20px;
  margin-right: 2px;
  transition: .2s;
}
button.back:hover svg {
  margin-right: 5px;
}
button.back:hover, button.back:focus {
  color: #000;
}
/* one liner button */
.step-content-basic .inner-wrap-btn .input {
  flex: 0 0 100%;
  max-width: 100%;
}
/* yes no box */
.step-content-basic.yes-no-box .inner-wrap-btn .input {
  flex: 0 0 45%;
  max-width: 45%;
  padding: 25px;
}
.btn{ padding:15px;font-size:22px; margin:10px}
.btn-block{width: 100%; margin:0}
.btn-bk{clear: both;}